body,
html {
  font-family: "Roboto", sans-serif;

  font-weight: 300;
  width: 100%;
  height: 100%;
  margin-left: 0;
  padding: 0px;
  margin-top: 0;
}


a {
  text-decoration: none;
  color:green;
}
#header2 {
  background-color: snow ;
  height: 60px;
  position: fixed;
  margin-top: 0px;
  font-size: 25px;
}
#header2 a:hover {
  color: black;
}
.wrapper {
  width: 1350px;
  margin: 0 auto;
}
nav {
  float: right;
  margin: 10px 20px;
}
.logo {
  float: left;
  line-height: 50px;
  margin-left: 20px;
}
h2 {
  text-align: center;
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 34px;
  color: #333;
  text-transform: uppercase;
}
h3 {
  font-size: 22px;
  font-weight: 500;
  color: #333;
}
h4 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  color: #333;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 17px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  font-weight: 400;
}
ul,
ol {
  list-style: none;
}

ul,
ol {
  padding: 0;
}
hr {
  height: 4px;
  width: 70px;
  text-align: center;

  background: #a7c44c;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 0;
}
.btn-custom {
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 3px #859c3c;
  background-color: #a7c44c;
  border: 0;
  padding: 14px 20px;
  margin: 0;
  font-size: 17px;
  border-radius: 12px 0 12px 0;
  margin-top: 20px;
  transition: all 0.5s;
}
.btn-custom:hover
{
  color: rgba(255, 255, 255, 0.8);
  background-color: #94ae44;
}
/* Header Section */
.intro {
  display: table;
  width: 100%;
  padding: 0;
  background: url(../img/intro-bg.jpg) no-repeat center bottom;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro h1 {
  color: #fff;
  font-size: 68px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
.intro span {
  color: #a7c44c;
  font-weight: 600;
}
.intro p {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 40px;
}
header .intro-text {
  padding-top: 300px;
  padding-bottom: 200px;
  text-align: center;
}
/* About Section */
#about {
  padding: 120px 0;
  background: #f6f6f6;
}
#about h3 {
  font-size: 20px;
  text-transform: uppercase;
}
#about .about-text {
  margin-left: 10px;
  margin-top: 20px;
}
#about img {
  display: inline-block;
  border-radius: 100px 0 100px 0;
}
#about p {
  line-height: 24px;
  margin: 15px 0 30px;
}
/* Services Section */
#services {
  padding: 120px 0;
}
#services .service {
  padding-left: 40px;
}
#services img {
  width: 300px;
  border-radius: 75px 0 75px 0;
  box-shadow: 15px 0 #a7c44c;
}
#services h3 {
  padding: 10px 0;
  text-transform: uppercase;
}
.row {
  display: flex;
justify-content: space-evenly;
}
/* Portfolio Section */
#portfolio {
  padding: 120px 0;
  background: #f6f6f6;
}
.categories {
  padding-bottom: 40px;
  text-align: center;
}
ul.cat li {
  display: inline-block;
}
ol.type li {
  display: inline-block;
  margin-left: 20px;
}
ol.type li a {
  color: #a7c44c;
  font-weight: 400;
  font-size: 15px;
  padding: 10px 20px;
  border: 2px solid #a7c44c;
  border-radius: 10px 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
ol.type li a.active {
  background: #a7c44c;
  color: #fff;
}
ol.type li a:hover {
  background: #a7c44c;
  color: #fff;
}
/* Team Section */
#team {
  color: #fff;
  background: #a7c44c url(../img/team-bg.jpg) center top no-repeat;
  background-size: cover;
}
#team .overlay {
  padding: 120px 0;
  background: rgba(167, 196, 76, 0.9);
}
#team h2,
#team p {
  color: #fff;
}
#team hr {
  background: #fff;
}
#team h3 {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin: 5px 0;
}
#team .team-img {
  width: 200px;
  height: 200px;
  border-radius: 50px 0 50px 0;
  box-shadow: 15px 0 #96b044;
}
#team .thumbnail {
  background: transparent;
  border: 0;
}
#team .thumbnail .caption {
  padding-top: 10px;
}
#team .thumbnail .caption p {
  color: #fff;
}
/* Contact Section */
#contact {
  padding: 120px 0 60px 0;
  background: #f6f6f6;
}
.contact-item{
  font-size: x-large;
}

/* Footer Section*/
#footer {
  background: #333;
  padding: 50px 0 20px 0;
  display: flex;
  justify-content: center;
}
#footer .social {
  margin-bottom: 50px;
}
#footer .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#footer .social i.fa {
  font-size: 26px;
  padding: 4px;
  color: #a7c44c;
  transition: all 0.3s;
}
#footer .social i.fa:hover {
  color: #eee;
}
#footer p {
  font-size: 15px;
}
#footer a {
  color: #999;
}
#footer a:hover {
  color: #a7c44c;
}
